/* small laptops */
@media (max-width: 1100px) {
  .plans-container {
    width: 95%;
  }

  .plan {
    margin: 0 5px;
  }
}

/* tablets */
@media (max-width: 900px) {
  .main-banner p {
    padding: 0 6rem;
  }

  .searchdomain-container {
    padding: 2rem 4rem;
  }
}

/* smartphones */

@media (max-width: 576px) {
  html,
  body {
    overflow-x: hidden;
  }

  .navbar-items li {
    font-size: 12px;
    margin-left: 10px;
  }

  .main-banner p {
    padding: 0 2rem;
  }

  .services-container {
    flex-direction: column;
  }

  .plans-container {
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
  }

  .plan {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .searchdomain-container h2 {
    font-size: 28px;
  }

  .searchdomain-container input[type="text"] {
    width: 100%;
  }

  .contract-container {
    padding: 3rem 3rem;
  }

  .contract-container,
  .contract-container textarea {
    width: 100%;
    margin: 10px 0;
  }
}
